body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #333;
}

p {
    color: #555;
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

small {
    color: #888;
}

a {
    color: #1acc20;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.plant-photo {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    border: 2px solid #333;
    margin-left: 20px;
}

.button {
    display: inline-block;
    background-color: #1acc20;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

.button:hover {
    background-color: #17921b;
}

.button.primary {
    background-color: #1acc20;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button.primary:hover {
    background-color: #17921b;
}

.container-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.content {
    flex-grow: 1;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #17921b;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 1px solid #ddd;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
}

.sidebar a + a {
    margin-top: 1px;
}

.sidebar a:hover {
    background-color: #ddd;
}

.sidebar-item {
    display: block;
    padding: 10px 15px;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.profile-image {
    width: 50px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 20px;
}

.user-info {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #fff;
}

@media (max-width: 600px) {
    .container-view {
        flex-direction: column;
    }

    .plant-photo {
        margin-left: 0;
        margin-top: 20px;
    }
}
